/****************** GLOBAL ********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/****************** / GLOBAL ********************/

.container-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(#249688 100px, #dddbd2 100px, #d2dbdb 60%);
}

.container {
  height: calc(100vh - 50px);
  width: 85vw;
  min-width: 600px;
  display: flex;
  background-color: #f1f1f1;
}

.container-left {
  width: 35%;
  height: 100%;
  border-right: 1px solid #d8d8d8;
}

.container-right {
  width: 65%;
  height: 100%;
}

.top-content {
  height: 70px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebeaea;
}

.personal-profile {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.personal-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.icons i {
  font-size: 20px;
  padding: 0 10px;
  cursor: pointer;
  color: #b1b1b1;
}

.notifications-area {
  height: 80px;
  background-color: #8edafc;
}

.search-chat {
  height: 50px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b1b1b1;
}

.search-chat div {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
  background-color: #fff;
}

.search-chat input {
  width: 85%;
  height: 100%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
}

.list-chat {
  width: calc(100% - 15px);
  height: calc(100% - 200px);
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  background-color: #fff;
  overflow: auto;
}

.top-content-right {
  height: 70px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebeaea;
}

.messages-area {
  height: calc(100% - 140px);
  background-image: url(../css/img/mine.jpg);
}

.typing-area {
  height: 70px;
  background-color: #f3eeea;
}



